/* ---------------
1. IMPORT  COMPONENTS
-----------------*/
@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/georgia.woff") format("woff");
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/ArialRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #4C4C4C;
}

h1 {
  font-family: Georgia, serif;
  font-size: 32px;
  line-height: 1.15;
  font-weight: 300;
  color: #F1CDB3;
  letter-spacing: 2px;
}

h2 {
  font-family: Georgia, serif;
  font-size: 44px;
  line-height: 1.3;
  font-weight: 300;
}

h3 {
  font-family: Georgia, serif;
  font-size: 35px;
  line-height: 1.3;
  font-weight: 300;
  color: #545454;
  letter-spacing: 2.1px;
}

h4 {
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.13;
  font-weight: 300;
  color: #545454;
  letter-spacing: 1.3px;
}

h5 {
  font-family: Georgia, serif;
  font-size: 15px;
  line-height: 1.1;
  font-weight: 300;
  color: #545454;
  letter-spacing: 1.3px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  padding-top: 80px;
  padding-bottom: 100px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

a {
  cursor: pointer;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
  overflow: hidden;
}

.overlay.show {
  display: block;
}

img {
  max-width: 100%;
}

@-webkit-keyframes slidein {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes slidein {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes slideout {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@keyframes slideout {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@media screen and (max-width: 768px) {
  .header .wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header .navbar {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .header .navbar {
    padding-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .header .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10px;
    padding-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .header .navbar.active nav {
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 320px;
    background-color: #292929;
    height: 100vh;
    z-index: 2;
    -webkit-animation: slidein 0.5s ease-in-out;
            animation: slidein 0.5s ease-in-out;
  }
  .header .navbar.active nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .navbar.active .humburger-button {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (max-width: 768px) {
  .header .navbar.closed nav {
    right: -100%;
    -webkit-animation: slideout 1s ease-in-out;
            animation: slideout 1s ease-in-out;
  }
}

.header .logo-wrapper {
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .header .logo-wrapper {
    position: absolute;
    top: 30px;
    right: 126px;
  }
}

.header .logo-wrapper p {
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  letter-spacing: 1.3px;
  margin-top: 10px;
  text-align: center;
}

.header nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 1.65;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .header nav ul {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header nav ul li {
  list-style: none;
  margin-left: 36px;
  margin-top: -3px;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

@media screen and (max-width: 768px) {
  .header nav ul li {
    margin-bottom: 40px;
  }
}

.header nav ul li a {
  color: #CDCDCD;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header nav ul li a {
    font-size: 32px;
    line-height: 1.6;
  }
}

.header nav ul li a:hover {
  color: #FAFAFA;
  cursor: pointer;
}

.header nav ul .active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.header nav ul .active a {
  color: #FAFAFA;
}

.header nav ul .disabled:hover {
  cursor: not-allowed;
  color: #CDCDCD;
}

.header .humburger-button {
  position: absolute;
  top: 49px;
  right: 53px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 22px;
  z-index: 3;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

@media screen and (max-width: 768px) {
  .header .humburger-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .humburger-button .bar {
  height: 2px;
  width: 100%;
  background-color: #F1CDB3;
}

.header-white {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0;
  color: #545454;
  background-color: #FFFFFF;
  padding: 30px 0;
}

.header-white .logo-wrapper {
  color: #545454;
  text-decoration: none;
}

.header-white .logo-wrapper h1 {
  color: #545454;
}

.header-white .logo-wrapper p {
  color: #292929;
}

.header-white .logo-wrapper:hover {
  opacity: 0.8;
}

.header-white nav ul li a {
  color: #545454;
}

.header-white nav ul li a:hover,
.header-white nav ul li .active {
  color: #292929;
}

.header-white nav ul li .disabled {
  color: #545454;
}

.header-white nav ul li .disabled:hover {
  color: #545454;
}

footer {
  padding-top: 40px;
  background: url(../../assets/img/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  footer .wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer .wrapper .contacts {
  max-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1200px) {
  footer .wrapper .contacts {
    min-height: 294px;
  }
}

footer .wrapper .contacts:nth-child(2) {
  max-width: 302px;
}

footer .wrapper .contacts h3 {
  color: #FFFFFF;
}

footer .wrapper .contacts .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #F1CDB3;
  font-family: Georgia, sans-serif;
  font-size: 20px;
  letter-spacing: 1.2px;
}

footer .wrapper .contacts .contact:nth-child(2) {
  line-height: 1.15;
}

footer .wrapper .contacts .contact:hover {
  text-decoration: underline;
}

footer .wrapper .contacts .contact img {
  margin-right: 20px;
}

footer .wrapper .img-wrapper {
  font-size: 0px;
}

.btn {
  padding: 15px 45px;
  display: inline-block;
  background-color: #F1CDB3;
  border-radius: 100px;
  font-family: Georgia;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 2px;
  letter-spacing: 1.1px;
  text-decoration: none;
  color: #292929;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  background-color: #FDDCC4;
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid #F1CDB3;
}

.btn-secondary:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

button {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.pets-card {
  text-align: center;
  padding-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  border-radius: 9px;
  background-color: #FAFAFA;
}

.pets-card img {
  margin-bottom: 23px;
}

.pets-card h4 {
  margin-bottom: 30px;
}

.pets-card .btn {
  padding: 13px 43px;
}

.pets-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 35px 10px rgba(13, 13, 13, 0.1);
          box-shadow: 0px 2px 35px 10px rgba(13, 13, 13, 0.1);
  background-color: #FFFFFF;
}

.pets-card:hover .btn-secondary {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

/* ---------------
2. OUR FRIENDS SECTION
-----------------*/
.our-friends {
  margin-top: 120px;
}

.our-friends h3 {
  max-width: 400px;
  text-align: center;
  margin: auto;
  margin-bottom: 45px;
}

.our-friends .pets-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  padding: 15px 0;
  margin-bottom: 45px;
}

.our-friends .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-friends .pagination button {
  cursor: pointer;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1;
  color: #292929;
  letter-spacing: 1.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2px;
}

.our-friends .pagination button.active {
  cursor: auto;
  background-color: #F1CDB3;
}

.our-friends .pagination button:disabled {
  border-color: #CDCDCD;
  color: #CDCDCD;
}

.our-friends .pagination button:disabled:hover {
  background-color: transparent;
  cursor: auto;
}
/*# sourceMappingURL=style.css.map */