.header {
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 45px;
  
    h1 {
      @include h1;
    }
  
    img {
      max-width: 154px;
    }
  }