.canvas-wrapper {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls-wrapper {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  justify-content: space-between;
  width: 51%;
  background-color: rgb(168, 168, 168);
  .reset-button {
    width: 30px;
    height: 30px;
    background: none;
    // background-image: url("../images/icons/restart-icon-black.png");
    &:hover {
      cursor: pointer;
    }
  }
}
