* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding-top: 80px;
  padding-bottom: 100px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  @media screen and (max-width: 1200px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

a {
  cursor: pointer;
}
