.header {
  margin-top: 60px;
  background-color: $color-dark-3xl;
  @media screen and (max-width: 1200px) {
    margin-top: 30px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .logo-wrapper {
    p {
      font-size: 13px;
      line-height: 15px;
      color: $color-light-xl;
      letter-spacing: 1.3px;
      margin-top: 10px;
      text-align: center;
    }
  }
  nav {
    align-self: center;
    line-height: 1.65;
    ul {
      display: flex;
      li {
        list-style: none;
        margin-left: 36px;
        margin-top: -3px;
        transition: color 0.2s ease-in;
        a {
          color: $color-dark-s;
          text-decoration: none;
        }
        a:hover {
          color: $color-light-s;
          cursor: pointer;
        }
      }
      .active {
        color: $color-light-s;
        border-bottom: 3px solid $color-primary;
      }
      .disabled {
        &:hover {
          cursor: not-allowed;
          color: $color-dark-s;
        }
      }
    }
  }
}

.header-white {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0;
  color: $color-dark-l;
  background-color: $color-light-xl;
  padding: 30px 0;
  .logo-wrapper {
    color: $color-dark-l;
    text-decoration: none;
    h1 {
      color: $color-dark-l;
    }
    p {
      color: $color-dark-3xl;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  nav {
    ul {
      li {
        a {
          color: $color-dark-l;
        }
        a:hover,
        .active {
          color: $color-dark-3xl;
        }
        .disabled {
          color: $color-dark-l;
          &:hover {
            color: $color-dark-l;
          }
        }
      }
    }
  }
}
