/* ---------------
1. IMPORT  COMPONENTS
-----------------*/

@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/typography";
@import "../../sass/layout/content";
@import "../../sass/layout/header";
@import "../../sass/layout/footer";
@import "../../sass/components/buttons";
@import "../../sass/components/pets-card";

/* ---------------
2. BANNER SECTION
-----------------*/
.bg-wrapper {
  background: url(../../assets/img/noise_transparent.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.banner {
  padding-top: 0;
  padding-bottom: 0;
  .wrapper {
    display: flex;
    padding-top: 59px;
    justify-content: space-between;
    @media screen and (max-width: 825px) {
      flex-direction: column;
      align-items: center;
    }
    @media screen and (max-width: 1200px) {
      padding-top: 150px;
    }
    .text-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 80px;
      @media screen and (max-width: 825px) {
        padding-bottom: 100px;
      }
    }
  }
  h2 {
    margin-bottom: 42px;
    color: $color-light-xl;
    span {
      display: block;
    }
  }
  p {
    margin-bottom: 40px;
    max-width: 460px;
    color: $color-dark-s;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  .img-wrapper {
    font-size: 0px;
    @media screen and (max-width: 825px) {
      max-width: 569px;
      align-self: flex-end;
    }
    img {
      width: 100%;
    }
  }
  .btn {
    align-self: flex-start;
    @media screen and (max-width: 1200px) {
      align-self: center;
    }
  }
}

/* ---------------
3. ABOUT SECTION
-----------------*/

.about {
  background-color: $color-light-xl;
  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    @media screen and (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
    }
    .text-content {
      margin-right: 185px;
      max-width: 420px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: 1200px) {
        margin-right: 0;
        margin-bottom: 80px;
      }
      h3 {
        max-width: 360px;
        margin-bottom: 25px;
      }
      p {
        @media screen and (max-width: 767px) {
          text-align: justify;
        }
        &:nth-child(2) {
          margin-bottom: 25px;
        }
        span {
          display: block;
        }
      }
    }
    .img-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 120px;
      @media screen and (max-width: 1200px) {
        padding-right: 0;
      }
      img {
        margin-left: 175px;
        @media screen and (max-width: 1200px) {
          margin-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

/* ---------------
4. OUR FRIENDS SECTION
-----------------*/

.our-friends {
  background-color: $color-light-xl;
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  h3 {
    max-width: 400px;
    margin: auto;
    margin-bottom: 60px;
    text-align: center;
  }
  .slider {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    @media screen and (max-width: 1200px) {
      justify-content: center;
      column-gap: 1.5%;
    }
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
    .slider-content {
      display: flex;
      justify-content: space-around;
      column-gap: 90px;
      .pets-card:nth-child(3) {
        @media screen and (max-width: 1200px) {
          display: none;
        }
      }
      .pets-card:nth-child(2) {
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }
    .control {
      display: flex;
      flex-direction: column;
      justify-content: center;
      button {
        font-size: 0px;
        background-image: url("../../assets/icons/arrow-icon.png");
      }
      .next {
        transform: scaleX(-1);
      }
    }
    .control-prev {
      order: -1;
      @media screen and (max-width: 767px) {
        order: 0;
        margin-right: 80px;
      }
    }
  }
  .btn {
    align-self: center;
  }
}

/* ---------------
5. HELP SECTION
-----------------*/

.help {
  background-color: $color-light-xl;
  h3 {
    max-width: 310px;
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
  }
  .help-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 120px;
    row-gap: 55px;
    @media screen and (max-width: 1200px) {
      justify-content: space-between;
      column-gap: 60px;
      padding-left: 39px;
      padding-right: 39px;
    }
    @media screen and (max-width: 767px) {
      column-gap: 30px;
      padding-left: 5px;
      padding-right: 5px;
    }
    .help-item {
      text-align: center;
      @media screen and (max-width: 1200px) {
        flex-basis: 25%;
      }
      @media screen and (max-width: 767px) {
        flex-basis: 44%;
      }
      img {
        margin-bottom: 24px;
      }
    }
  }
}

/* ---------------
6. DONATION SECTION
-----------------*/

.donation {
  .wrapper {
    display: flex;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 1px;
    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
  }
  .img-wrapper {
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    order: -1;
    @media screen and (max-width: 1200px) {
      order: 1;
    }
  }
  .text-content {
    margin-left: 30px;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (max-width: 767px) {
      align-items: center;
    }
    @media screen and (max-width: 1200px) {
      margin-bottom: 60px;
      align-self: center;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 42px;
      margin-left: 0;
    }
    h3 {
      margin-bottom: 20px;
      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }
      span {
        display: block;
        @media screen and (max-width: 767px) {
          display: inline-block;
        }
      }
    }
    h5 {
      margin-bottom: 20px;
    }
    .card {
      padding: 10px 15px;
      border-radius: 10px;
      display: flex;
      color: $color-dark-l;
      margin-bottom: 20px;
      .card-number {
        @media screen and (max-width: 767px) {
          font-size: 15px;
          letter-spacing: 0;
        }
      }
    }
    img {
      margin-right: 15px;
    }
  }
  p {
    font-style: italic;
    font-size: 12px;
    line-height: 1.5;
    color: $color-dark-m;
    @media screen and (max-width: 767px) {
      text-align: justify;
    }
  }
}
