/* ---------------
1. IMPORT  COMPONENTS
-----------------*/

@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/typography";
@import "../../sass/layout/content";
@import "../../sass/layout/header";
@import "../../sass/components/buttons";
@import "../../sass/components/pets-card";

/* ---------------
2. BANNER SECTION
-----------------*/

.banner {
  background: url(../../assets/img/noise_transparent.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  margin-top: -120px;
  padding-top: 0;
  padding-bottom: 0;
  .wrapper {
    display: flex;
    padding-top: 180px;
    justify-content: space-between;
    .text-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 80px;
    }
  }
  h2 {
    margin-bottom: 42px;
    color: $color-light-xl;
    span {
      display: block;
    }
  }
  p {
    margin-bottom: 40px;
    max-width: 460px;
    color: $color-dark-s;
  }
  .img-wrapper {
    font-size: 0px;
  }
  .btn {
    align-self: flex-start;
  }
}

.about {
  background-color: $color-light-xl;
  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    .text-content {
      margin-right: 185px;
      max-width: 420px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        max-width: 360px;
        margin-bottom: 25px;
      }
      p {
        &:nth-child(2) {
          margin-bottom: 25px;
        }
        span {
          display: block;
        }
      }
    }
    .img-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 120px;
      img {
        margin-left: 175px;
      }
    }
  }
}

.our-friends {
  background-color: $color-light-xl;
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  h3 {
    max-width: 400px;
    margin: auto;
    margin-bottom: 60px;
    text-align: center;
  }
  .slider {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    .slider-content {
      display: flex;
      justify-content: space-around;
      .pets-card:not(:last-child) {
        margin-right: 90px;
      }
    }
    .control {
      display: flex;
      flex-direction: column;
      justify-content: center;
      button {
        font-size: 0px;
        background-image: url("../../assets/icons/arrow-icon.png");
      }
      .next {
        transform: scaleX(-1);
      }
    }
    .control-prev {
      order: -1;
    }
  }
  .btn {
    align-self: center;
  }
}
