/* ---------------
1. IMPORT  COMPONENTS
-----------------*/
@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/georgia.woff") format("woff");
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/ArialRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: Arial;
  font-size: 15px;
  line-height: 1.6;
  color: #4C4C4C;
}

h1 {
  font-family: Georgia, sans-serif;
  font-size: 32px;
  line-height: 1.15;
  font-weight: 300;
  color: #F1CDB3;
  letter-spacing: 2px;
}

h2 {
  font-family: Georgia, sans-serif;
  font-size: 44px;
  line-height: 1.3;
  font-weight: 300;
}

h3 {
  font-family: Georgia, sans-serif;
  font-size: 35px;
  line-height: 1.3;
  font-weight: 300;
  color: #545454;
  letter-spacing: 2.1px;
}

h4 {
  font-family: Georgia, sans-serif;
  font-size: 20px;
  line-height: 1.13;
  font-weight: 300;
  color: #545454;
  letter-spacing: 1.3px;
}

h5 {
  font-family: Georgia, sans-serif;
  font-size: 15px;
  line-height: 1.1;
  font-weight: 300;
  color: #545454;
  letter-spacing: 1.3px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  padding-top: 80px;
  padding-bottom: 100px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.header {
  margin-top: 60px;
  background-color: #292929;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo-wrapper p {
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  letter-spacing: 1.3px;
  margin-top: 10px;
  text-align: center;
}

.header nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 1.65;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav ul li {
  list-style: none;
  margin-left: 36px;
  margin-top: -3px;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.header nav ul li a {
  color: #CDCDCD;
  text-decoration: none;
}

.header nav ul li a:hover {
  color: #FAFAFA;
  cursor: pointer;
}

.header nav ul .active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.header nav ul .disabled:hover {
  cursor: not-allowed;
  color: #CDCDCD;
}

footer {
  padding-top: 40px;
  background: url(../../assets/img/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .wrapper .contacts {
  max-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 60px;
}

footer .wrapper .contacts:nth-child(2) {
  max-width: 302px;
}

footer .wrapper .contacts h3 {
  color: #FFFFFF;
}

footer .wrapper .contacts .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #F1CDB3;
  font-family: Georgia, sans-serif;
  font-size: 20px;
  letter-spacing: 1.2px;
}

footer .wrapper .contacts .contact:nth-child(2) {
  line-height: 1.15;
}

footer .wrapper .contacts .contact:hover {
  text-decoration: underline;
}

footer .wrapper .contacts .contact img {
  margin-right: 20px;
}

footer .wrapper .img-wrapper {
  font-size: 0px;
}

.btn {
  padding: 15px 45px;
  display: inline-block;
  background-color: #F1CDB3;
  border-radius: 100px;
  font-family: Georgia;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 2px;
  letter-spacing: 1.1px;
  text-decoration: none;
  color: #292929;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  background-color: #FDDCC4;
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid #F1CDB3;
}

.btn-secondary:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

button {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.pets-card {
  text-align: center;
  padding-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  border-radius: 9px;
  background-color: #FAFAFA;
}

.pets-card img {
  margin-bottom: 23px;
}

.pets-card h4 {
  margin-bottom: 30px;
}

.pets-card .btn {
  padding: 13px 43px;
}

.pets-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 35px 10px rgba(13, 13, 13, 0.1);
          box-shadow: 0px 2px 35px 10px rgba(13, 13, 13, 0.1);
  background-color: #FFFFFF;
}

.pets-card:hover .btn-secondary {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

/* ---------------
2. BANNER SECTION
-----------------*/
.banner {
  background: url(../../assets/img/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  margin-top: -120px;
  padding-top: 0;
  padding-bottom: 0;
}

.banner .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 179px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner .wrapper .text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 80px;
}

.banner h2 {
  margin-bottom: 42px;
  color: #FFFFFF;
}

.banner h2 span {
  display: block;
}

.banner p {
  margin-bottom: 40px;
  max-width: 460px;
  color: #CDCDCD;
}

.banner .img-wrapper {
  font-size: 0px;
}

.banner .btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

/* ---------------
3. ABOUT SECTION
-----------------*/
.about {
  background-color: #FFFFFF;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about .wrapper .text-content {
  margin-right: 185px;
  max-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .wrapper .text-content h3 {
  max-width: 360px;
  margin-bottom: 25px;
}

.about .wrapper .text-content p:nth-child(2) {
  margin-bottom: 25px;
}

.about .wrapper .text-content p span {
  display: block;
}

.about .wrapper .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 120px;
}

.about .wrapper .img-wrapper img {
  margin-left: 175px;
}

/* ---------------
4. OUR FRIENDS SECTION
-----------------*/
.our-friends {
  background-color: #FFFFFF;
}

.our-friends .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-friends h3 {
  max-width: 400px;
  margin: auto;
  margin-bottom: 60px;
  text-align: center;
}

.our-friends .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.our-friends .slider .slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.our-friends .slider .slider-content .pets-card:not(:last-child) {
  margin-right: 90px;
}

.our-friends .slider .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-friends .slider .control button {
  font-size: 0px;
  background-image: url("../../assets/icons/arrow-icon.png");
}

.our-friends .slider .control .next {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.our-friends .slider .control-prev {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.our-friends .btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* ---------------
5. HELP SECTION
-----------------*/
.help {
  background-color: #FFFFFF;
}

.help h3 {
  max-width: 310px;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
}

.help .help-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  row-gap: 55px;
}

.help .help-items .help-item {
  text-align: center;
}

.help .help-items .help-item img {
  margin-bottom: 24px;
}

/* ---------------
6. DONATION SECTION
-----------------*/
.donation .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3px;
  padding-bottom: 1px;
}

.donation .img-wrapper {
  font-size: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.donation .text-content {
  margin-left: 30px;
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.donation .text-content h3 {
  margin-bottom: 20px;
}

.donation .text-content h3 span {
  display: block;
}

.donation .text-content h5 {
  margin-bottom: 20px;
}

.donation .text-content .card {
  padding: 10px 15px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #545454;
  margin-bottom: 20px;
}

.donation .text-content img {
  margin-right: 15px;
}

.donation p {
  font-style: italic;
  font-size: 12px;
  line-height: 1.5;
  color: #B2B2B2;
}
/*# sourceMappingURL=style.css.map */