//@import "~normalize.css";
// font-family: 'Fredoka One', cursive;
// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@300;400;700&display=swap');
@import "header";
@import "card";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;

}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  height: 1000px;
}
