* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: #fff;
  text-shadow: 1px 1px 7px #000;
  transition: background-image 1s ease-in-out;
}

time {
  font-size: 8rem;
  margin-bottom: 5rem;
}

@media (max-width: 700px) {
  time {
    font-size: 6rem;
  }
}

.date {
  display: block;
  font-size: 4rem;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

#name, #focus {
  display: inline-block;
  min-width: 40px;
}

.change-img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border: 0;
  background: url("assets/icons/change-icon-png-8-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .7;
  transition: 250ms linear;
}

.change-img:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.1);
}