/*
1. GENERAL styles
*/

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin-left: -37px;
  height: 1000px;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
}

/*
2. HEADER styles
*/


h1.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}

header {
  min-height: 95px;
  background-color: #000;
}

nav ul {
  min-height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

nav li {
  list-style: none;
  padding-left: 22px;
  padding-right: 22px;
}

nav a {
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  opacity: 0.8;
}

nav a:hover {
  opacity: 1;
}

nav a::after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 15%;
  right: 0;
  height: 3px;
  width: 70%;
  border-top: 1px solid #fff;
  /* z-index: -1; */
  display: none;

}

nav a:hover::after {
  /* z-index: 0; */
  display: block;
}

nav .logo {
  padding-left: 30px;
  padding-right: 30px;

}

nav .logo a {
  opacity: 1;
}

nav .logo a:hover::after {
  z-index: -1;
}
