/*
1. GENERAL styles
*/

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  /* margin-left: -37px; */
  height: 1000px;
  font-size: 14px;
  font-weight: normal;
  line-height: 140%;
  color: #4E4E4E;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
}

.container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.left-col {
  width: 50%;
  display: flex;
}

.right-col {
  width: 50%;
  display: flex;
}

.btn {
  padding: 15px 47px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #00AFDB;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

/*===============
2. HEADER styles
=================*/

h1.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}

header {
  min-height: 95px;
  background-color: #000;
}

nav ul {
  min-height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 0;
  margin-left: -12px;
}

nav li {
  list-style: none;
  padding-left: 22px;
  padding-right: 22px;
}

nav a {
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 23px;
  opacity: 0.8;
  transition: 1s;
}

nav a:hover {
  opacity: 1;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15%;
  right: 0;
  height: 3px;
  width: 70%;
  border-top: 1px solid #fff;
  display: none;
}

nav a:hover::after {
  display: block;
}

nav .logo {
  padding-left: 30px;
  padding-right: 30px;
}

nav .logo a {
  opacity: 1;
  transition: 0.5s;
}

nav .logo a:hover::after {
  display: none;
}

nav .logo a:hover {
  opacity: 0.8;
}

/*===========
3. BANNER
=============*/

.banner {
  background-color: #000;
}

.banner .wrapper {
  height: 100vh;
  background-image: url(assets/bg-image.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: -8px;
  margin-top: -95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo {
  color: #fff;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 41px;
  align-items: center;
}

.motto {
  font-weight: 700;
  font-size: 64px;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}

.promo p {
  font-size: 18px;
  width: 504px;
  line-height: 1.4;
  margin-top: 23px;
  text-align: center;
}

.promo .btn {
  margin-top: 12px;
}

.social-icons {
  display: flex;
  width: 170px;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
  margin-bottom: 97px;
}

.social-icons li {
  list-style: none;
}

/*===========
4. RAPPRESENT
=============*/

.rappresent {
  padding-top: 120px;
  padding-bottom: 140px;
}

.rappresent .left-col {
  flex-direction: column;
  justify-content: center;
  padding-left: 116px;
  padding-right: 110px;
}

.rappresent  .right-col {
  align-items: center;
  justify-content: center;
  padding-right: 55px;
}

.rappresent h2 {
  margin-top: 3px;
  margin-bottom: 21px;
}

.rappresent p {
  line-height: 20px;
  align-self: flex-start;
  width: 407px;
  margin-top: 0;
  margin-bottom: 27px;

}

.rappresent .btn {
  align-self: flex-start;
}

/*===========
5. COMMUNITY
=============*/

.community {}

.description {}

.slider {}

.controls {}



.active-slide {}

.slides-count {}

.prev {
  background-image: url(assets/arrow-prev.svg);
  width: 9px;
  height: 14px;
}

.next {
  background-image: url(assets/arrow-next.svg);
  width: 9px;
  height: 14px;
}

/*===========
6. IMPLEMENT
=============*/

.implement {}

/*===========
7. SUBSCRIBE
=============*/

.subscribe {}

/*===========
8. DOWNLOAD
=============*/

.download {}

/*===========
9. FOOTER
=============*/

.footer-menu {}

.author {}